{
  "TOKEN": "NzY1NzI2MTY4MTM3NDY1ODY2.X4ZAEA.2LhESZhRGwWm2DRQC1I1j1F1naw",
  "YOUTUBE_API_KEY": "AIzaSyD7yxitb8sWnlFH2na31wlUVphFzfjA9sA",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false
}
